cloud_id                 = "b1g2222222222226qdcr"
folder_id                = "b1grh796597659764f6k"
zone                     = "ru-central1-a"
image_id                 = "fd8976587658765874u0"
app_disk_image           = "fd8spj55qsp944e224uf"
db_disk_image            = "fd8c84qo2jclh022ktuh"
public_key_path          = "/home/user/.ssh/id_rsa.pub"
service_account_key_file = "./key.json"
private_key_path         = "/home/user/.ssh/id_rsa"
subnet_id                = "e9blrp41fh3sbmc72k04"
